@mixin res($min: 0, $max: 480px) 
{
    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}
@mixin flex ($jc: space-between, $ai:center, $wrap: nowrap)
{
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $wrap;
}